<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46287609424-s6mj0sdo75k5rb708mci9bj09anu785a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46287609424-s6mj0sdo75k5rb708mci9bj09anu785a</string>
	<key>API_KEY</key>
	<string>AIzaSyCznC9C-iPALSzsMT8BRDeeWGNe6r6HFtM</string>
	<key>GCM_SENDER_ID</key>
	<string>46287609424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GadoStudying.StepsTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>stepstrackerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>stepstrackerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46287609424:ios:c65986d98b7609a7bcfb55</string>
</dict>
</plist>